@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: local("Bebas Neue Cyrillic"), local("BebasNeueCyrillic"),
    url("../fonts/BebasNeueCyrillic.woff2") format("woff2"),
    url("../fonts/BebasNeueCyrillic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box; /*правило позволяющее правильно считать ширину и высоту*/
}
body {
  font-family: Roboto;
}
.header {
  background: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5; /*полоса внизу*/
}
.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex; /*сделали блок гибким*/
  justify-content: space-between; /*расставили элементы по краям*/
  align-items: center;
}
.navbar-menu {
  margin: 0; /*отключаем внешние отступы*/
  padding: 0; /*отключаем внутренние отступы*/
  list-style: none; /*отключаем точки у списка*/
  display: flex;
  text-align: center;
}
.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link {
  color: #fff;
  text-decoration: none;
}
.navbar-contacts {
  text-align: right;
}
.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  /* */
}

.navbar-pfone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}
.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
}
.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.home-image path {
  opacity: 0;
  cursor: pointer;
}
.home-image path:hover {
  opacity: 1;
}
.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-button {
  cursor: pointer;
  background-color: #fff;
  border: none;
}
.main-title {
  margin: 0;
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 37px;
  color: #635854;
}
.counter {
  font-family: "Bebas Neue Cyrillic", sans-serif;
  color: #635854;
  font-size: 124px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.button-primary {
  background: #3596f5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}
